<meta charset="UTF-8">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/themes/dark-unica.js"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
<script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

<p style="color:White; font-family:Calibri;">  Next day's electricity price forecasting results are shown below.</p>
<p style="color:White; font-family:Calibri;">  Results for 4 different forecasting algorithms are available in the graph. </p>

<div id="container" style="height: 400px;"></div>


<style>
    body {
        background-color: #2a2a2b
</style>

<script>
  
  Highcharts.chart('container', {
      chart: {
          type: 'line'
      },
      title: {
          useHTML: true,
          text: 'Day-Ahead Electricity Price Forecasting Results'
      },

        subtitle: {
              text: ' {{date|safe}} '
          },

      xAxis: {
          data: {{Hour|safe}},
          title: {
                text: 'Saat'
          } 
      },

        yAxis: {
            title: {
                text: 'PTF'
            }
       },

      series: [{
          name: 'EUR/MWh LSTM',
          data: {{lstm_eur|safe}},
      }, {
          name: 'EUR/MWh Prophet Algorithm',
          data: {{pr_eur|safe}},
      },{
          name: 'EUR/MWh Multiple Regression',
          data: {{mr_eur|safe}},
      },{
          name: 'EUR/MWh Multivariate LSTM',
          data: {{mult_lstm_eur|safe}},
      }
      ],
      
        exporting: {
            showTable: true
        }
  });
</script>
 
<p       </p>
{#<p style="color:White; font-family:Calibri;">*Piyasa Takas Fiyati tahminlemesi Euro kuru uzerinden yapilmistir. Turk Lirasi ve Dolar sonuclari guncel kurlara gore hesaplanmistir.</p>#}
