<meta charset="UTF-8">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/themes/dark-unica.js"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
<script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

<p style="color:White; font-family:Calibri;">  Asagidaki sonuclar yarinin Gun Oncesi Elektrik Piyasa Takas Fiyati tahminlemesini gostermektedir.</p>
<p style="color:White; font-family:Calibri;">  Tahminleme iki farkli algoritma kullanilarak yapilmistir. </p>

<div id="container" style="height: 400px;"></div>


<style>
    body {
        background-color: #2a2a2b
</style>

<script>
  
  Highcharts.chart('container', {
      chart: {
          type: 'line'
      },
      title: {
          useHTML: true,
          text: 'Gun Oncesi Piyasasi Piyasa Takas Fiyati Tahmini'
      },

        subtitle: {
              text: ' {{date|safe}} '
          },

      xAxis: {
          data: {{Saat|safe}},
          title: {
                text: 'Saat'
          } 
      },

        yAxis: {
            title: {
                text: 'PTF'
            }
       },

      series: [{
          name: 'EUR/MWh LSTM',
          data: {{lstm_eur|safe}},
      }, {
          name: 'USD/MWh LSTM',
          data: {{lstm_usd|safe}},
      },  {
          name: 'TL/MWh LSTM',
          data: {{lstm_tl|safe}},
      }, {
          name: 'EUR/MWh AR',
          data: {{ar_eur|safe}},
      }, {
          name: 'USD/MWh AR',
          data: {{ar_usd|safe}},
      }, {
          name: 'TL/MWh AR',
          data: {{ar_tl|safe}},
      }
      ],
      
        exporting: {
            showTable: true
        }
  });
</script>
 
<p       </p>
<p style="color:White; font-family:Calibri;">*Piyasa Takas Fiyati tahminlemesi Euro kuru uzerinden yapilmistir. Turk Lirasi ve Dolar sonuclari guncel kurlara gore hesaplanmistir.</p>
